# Import data

In [1]:
.libPaths('C:\\Program Files\\R\\R-3.6.1\\library')
library(SDSFoundations)
acl = AustinCityLimits

In [2]:
nrow(acl)

[1] 116

In [3]:
ncol(acl)

[1] 14

In [4]:
str(acl)

'data.frame':	116 obs. of  14 variables:
 $ Artist       : Factor w/ 116 levels "Aimee Mann","Alabama Shakes",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Year         : int  2008 2013 2009 2009 2007 2009 2010 2009 2003 2008 ...
 $ Month        : Factor w/ 6 levels "December","February",..: 4 2 3 5 4 4 3 4 3 5 ...
 $ Season       : Factor w/ 2 levels "fall","winter": 1 2 2 1 1 1 2 1 2 1 ...
 $ Gender       : Factor w/ 2 levels "F","M": 1 1 2 2 1 2 2 2 2 1 ...
 $ Age          : int  52 24 75 39 33 62 37 35 43 67 ...
 $ Age.Group    : Factor w/ 4 levels "Fifties or Older",..: 1 4 1 3 3 1 3 3 2 1 ...
 $ Grammy       : Factor w/ 2 levels "N","Y": 2 1 1 1 2 2 1 1 2 1 ...
 $ Genre        : Factor w/ 4 levels "Country","Jazz/Blues",..: 4 3 2 3 3 1 3 3 3 2 ...
 $ BB.wk.top10  : int  0 1 NA 1 1 0 1 NA 1 0 ...
 $ Twitter      : int  101870 73313 308634 56343 404439 3326 125758 8197 158647 690 ...
 $ Twitter.100k : int  1 0 1 0 1 0 1 0 1 0 ...
 $ Facebook     : int  113576 298278 10721 318313 1711685 27321 563505 18955 1381051 1715 ...
 $ Facebook.100k: int  1 1 0 1 1 0 1 0 1 0 ...

## How many of the first 10 artists in the dataset were Grammy winners?

In [5]:
table(head(acl,10)$Grammy)

N Y
6 4

## What genre was played by the first female artist in the dataset who was over 60 years of age? Match the case of the genre as it appears in the dataset.

In [7]:
acl[(acl$Age>60)&(acl$Gender == 'F'),]

   Artist         Year Month    Season Gender Age Age.Group        Grammy
10 Bettye Lavette 2008 October  fall   F      67  Fifties or Older N
17 Bonnie Rait    2012 November fall   F      63  Fifties or Older Y
59 Jeff Bridges   2011 November fall   F      63  Fifties or Older N
   Genre      BB.wk.top10 Twitter Twitter.100k Facebook Facebook.100k
10 Jazz/Blues 0             690   0              1715   0
17 Country    1           18683   0            357770   1
59 Country    0           46193   0            141809   1