# R practice

## Variable assignment and basic calculations

In [1]:
6^2+2

[1] 38

In [2]:
x <- 6^2+2

In [3]:
x^2

[1] 1444

In [4]:
x

[1] 38

In [5]:
sqrt(x^2)

[1] 38

## vectors

#### vectore are created using the *concatenat* function

In [6]:
vector <- c(2,3,4,5)

In [7]:
vector

[1] 2 3 4 5

In [10]:
typeof(vector)

[1] "double"

In [11]:
vector*2

[1]  4  6  8 10

In [12]:
mean(vector)

[1] 3.5

In [13]:
sum(vector)

[1] 14

In [14]:
vector2 <- vector * 2

In [15]:
vector2

[1]  4  6  8 10

## vector indexing

In [16]:
vector[2]

[1] 3

In [17]:
vector > 2

[1] FALSE  TRUE  TRUE  TRUE

In [18]:
vector <- vector * 4

In [19]:
vector > 34

[1] FALSE FALSE FALSE FALSE

In [20]:
vector > 4

[1] TRUE TRUE TRUE TRUE

In [22]:
vector

[1]  8 12 16 20

In [21]:
vector [vector > 8]

[1] 12 16 20

In [23]:
vector [vector == 16]

[1] 16

In [24]:
vector3 <- c(2,3,'hello','there')

In [25]:
vector3

[1] "2"     "3"     "hello" "there"

In [30]:
vector3[1]

[1] "2"

## importing datasets

In [2]:
data(HairEyeColor)

In [7]:
HairEyeColor

, , Sex = Male

       Eye
Hair    Brown Blue Hazel Green
  Black    32   11    10     3
  Brown    53   50    25    15
  Red      10   10     7     7
  Blond     3   30     5     8

, , Sex = Female

       Eye
Hair    Brown Blue Hazel Green
  Black    36    9     5     2
  Brown    66   34    29    14
  Red      16    7     7     7
  Blond     4   64     5     8

In [8]:
data(mtcars)

In [9]:
head(mtcars,6)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [10]:
mtcars$mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [11]:
mean(mtcars$mpg)

[1] 20.09062

In [12]:
mtcars[mtcars$mpg > 20,]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [13]:
mtcars[mtcars$mpg < 20,]

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

In [14]:
names(mtcars)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [15]:
rownames(mtcars)

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

In [18]:
grepl('p',names(mtcars))

 [1]  TRUE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [19]:
mtcars[,grepl('p',names(mtcars))]

                    mpg  disp  hp
Mazda RX4           21.0 160.0 110
Mazda RX4 Wag       21.0 160.0 110
Datsun 710          22.8 108.0  93
Hornet 4 Drive      21.4 258.0 110
Hornet Sportabout   18.7 360.0 175
Valiant             18.1 225.0 105
Duster 360          14.3 360.0 245
Merc 240D           24.4 146.7  62
Merc 230            22.8 140.8  95
Merc 280            19.2 167.6 123
Merc 280C           17.8 167.6 123
Merc 450SE          16.4 275.8 180
Merc 450SL          17.3 275.8 180
Merc 450SLC         15.2 275.8 180
Cadillac Fleetwood  10.4 472.0 205
Lincoln Continental 10.4 460.0 215
Chrysler Imperial   14.7 440.0 230
Fiat 128            32.4  78.7  66
Honda Civic         30.4  75.7  52
Toyota Corolla      33.9  71.1  65
Toyota Corona       21.5 120.1  97
Dodge Challenger    15.5 318.0 150
AMC Javelin         15.2 304.0 150
Camaro Z28          13.3 350.0 245
Pontiac Firebird    19.2 400.0 175
Fiat X1-9           27.3  79.0  66
Porsche 914-2       26.0 120.3  91
Lotus Europa        30.4  95.1 113
Ford Pantera L      15.8 351.0 264
Ferrari Dino        19.7 145.0 175
Maserati Bora       15.0 301.0 335
Volvo 142E          21.4 121.0 109

In [17]:
?grep

In [20]:
data()