## Import stuff

In [5]:
library(SDSFoundations, lib.loc = 'C:\\Program Files\\R\\R-3.6.1\\library')
wbd <- WorldBankData

In [6]:
str(wbd)

'data.frame':	13303 obs. of  14 variables:
 $ Country         : Factor w/ 251 levels "Afghanistan",..: 11 11 11 11 11 11 11 11 11 11 ...
 $ Country.Code    : Factor w/ 251 levels "ABW","AFG","AGO",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ year            : int  1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 ...
 $ Region          : Factor w/ 8 levels "","East Asia & Pacific",..: 4 4 4 4 4 4 4 4 4 4 ...
 $ IncomeGroup     : Factor w/ 5 levels "","High income",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ population      : num  54208 55435 56226 56697 57029 ...
 $ rural.population: num  26683 27296 27694 27934 28107 ...
 $ hiv.cases       : int  NA NA NA NA NA NA NA NA NA NA ...
 $ san.access      : num  NA NA NA NA NA NA NA NA NA NA ...
 $ motor.vehicles  : int  NA NA NA NA NA NA NA NA NA NA ...
 $ gas.price       : num  NA NA NA NA NA NA NA NA NA NA ...
 $ co2.emission    : num  NA NA NA NA NA NA NA NA NA NA ...
 $ mobile.users    : num  0 NA NA NA NA 0 NA NA NA NA ...
 $ internet.users  : num  NA NA NA NA NA NA NA NA NA NA ...

In [11]:
us <- wbd[wbd$Country.Code == 'USA',]

In [12]:
str(us)

'data.frame':	53 obs. of  14 variables:
 $ Country         : Factor w/ 251 levels "Afghanistan",..: 239 239 239 239 239 239 239 239 239 239 ...
 $ Country.Code    : Factor w/ 251 levels "ABW","AFG","AGO",..: 239 239 239 239 239 239 239 239 239 239 ...
 $ year            : int  1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 ...
 $ Region          : Factor w/ 8 levels "","East Asia & Pacific",..: 6 6 6 6 6 6 6 6 6 6 ...
 $ IncomeGroup     : Factor w/ 5 levels "","High income",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ population      : num  1.81e+08 1.84e+08 1.87e+08 1.89e+08 1.92e+08 ...
 $ rural.population: num  54208527 54422867 54563857 54642114 54683760 ...
 $ hiv.cases       : int  NA NA NA NA NA NA NA NA NA NA ...
 $ san.access      : num  NA NA NA NA NA NA NA NA NA NA ...
 $ motor.vehicles  : int  NA NA NA NA NA NA NA NA NA NA ...
 $ gas.price       : num  NA NA NA NA NA NA NA NA NA NA ...
 $ co2.emission    : num  2890696 2880506 2987208 3119231 3255995 ...
 $ mobile.users    : num  0 NA NA NA NA 0 NA NA NA NA ...
 $ internet.users  : num  NA NA NA NA NA NA NA NA NA NA ...

In [14]:
us1990 = us[us$year >= 1990 & us$year < 2000,]

In [15]:
us1990

      Country       Country.Code year Region        IncomeGroup population
12645 United States USA          1990 North America High income 249623000
12646 United States USA          1991 North America High income 252981000
12647 United States USA          1992 North America High income 256514000
12648 United States USA          1993 North America High income 259919000
12649 United States USA          1994 North America High income 263126000
12650 United States USA          1995 North America High income 266278000
12651 United States USA          1996 North America High income 269394000
12652 United States USA          1997 North America High income 272657000
12653 United States USA          1998 North America High income 275854000
12654 United States USA          1999 North America High income 279040000
      rural.population hiv.cases san.access motor.vehicles gas.price
12645 61656881         NA        248382203  NA               NA
12646 61499681         NA               NA  NA               NA
12647 61358149         NA               NA  NA             0.32
12648 61158941         NA               NA  NA               NA
12649 60887356         NA               NA  NA               NA
12650 60578245         NA        265291863  NA             0.34
12651 60296304         NA               NA  NA               NA
12652 60023803         NA               NA  NA               NA
12653 59713012         NA               NA  NA             0.32
12654 59376364         NA               NA  NA               NA
      co2.emission mobile.users internet.users
12645 4768138       5181680       1958863
12646 4826703       7436741       2942659
12647 4922196      10899406       4422821
12648 5029767      15864719       5904511
12649 5121560      23957416      12795240
12650 5156169      33563609      24596334
12651 5286047      43744608      44232752
12652 5419441      54919622      58938630
12653 5456093      68661825      83013287
12654 5531692      85319558     100032281