# import bike riders data

In [2]:
.libPaths('C:\\Program Files\\R\\R-3.6.1\\library')
library(SDSFoundations)
data <- BikeData

## How many of the cyclists rode daily?

In [4]:
table(data$cyc_freq)

                  Daily  Less than once a month Several times per month
                     47                       2                      14
 Several times per week
                     58

## How many of these riders were male and how many female?

In [5]:
table(data$gender)

 F  M
31 90

In [7]:
table(data[data$cyc_freq=='Daily',]$gender)

 F  M
 9 38

## What were their average ages?

In [10]:
mean(data[data$cyc_freq=="Daily",]$age)

[1] 33.65957

## What is the average age of female and male riders

In [12]:
data[(data$cyc_freq=="Daily")&(data$gender=="F"),]

    user_id age gender student employed cyc_freq distance time speed
18   18     32  F      1       1        Daily     9.34    40   14.01
52   52     36  F      0       1        Daily     0.63     4    9.45
53   53     27  F      0       1        Daily     1.78     9   11.87
58   58     26  F      1       1        Daily     2.77    16   10.39
62   62     32  F      0       1        Daily    11.01    38   17.38
81   81     29  F      0       1        Daily     8.17    28   17.51
103 103     25  F      1       0        Daily    13.43    37   21.78
105 105     42  F      0       1        Daily     1.01     6   10.10
119 119     44  F      0       1        Daily     7.84    48    9.80

In [13]:
mean(data[(data$cyc_freq=="Daily")&(data$gender=="F"),]$age)

[1] 32.55556

In [14]:
mean(data[(data$cyc_freq=="Daily")&(data$gender=="M"),]$age)

[1] 33.92105

## How many daily male riders are age 30 or older?

In [15]:
data[(data$cyc_freq=="Daily")&(data$gender=="M")&(data$age>=30),]

    user_id age gender student employed cyc_freq distance time speed
2     2     35  M      0       1        Daily     1.11     5   13.32
17   17     33  M      0       1        Daily    10.02    45   13.36
19   19     43  M      0       1        Daily     7.02    28   15.04
26   26     35  M      0       1        Daily     6.04    31   11.69
32   32     39  M      0       1        Daily     3.76    21   10.74
39   39     41  M      0       1        Daily     6.33    25   15.19
44   44     46  M      0       1        Daily     6.16    22   16.80
48   48     36  M      0       1        Daily     2.15    19    6.79
55   55     51  M      0       1        Daily     3.74    14   16.03
60   60     36  M      0       1        Daily     2.70    12   13.50
65   65     32  M      0       0        Daily     2.52     8   18.90
70   70     34  M      0       0        Daily    12.21    55   13.32
90   90     34  M      0       1        Daily     3.90    16   14.63
91   91     36  M      0       1        Daily     3.00    13   13.85
92   92     38  M      0       1        Daily     1.31     5   15.72
96   96     33  M      0       1        Daily     7.92    49    9.70
98   98     37  M      0       1        Daily     3.13    12   15.65
99   99     43  M      0       1        Daily     9.72    45   12.96
100 100     30  M      0       1        Daily     3.85    15   15.40
107 107     37  M      0       1        Daily    13.47    41   19.71
108 108     32  M      0       1        Daily     6.10    35   10.46
110 110     54  M      0       1        Daily     2.78    27    6.18
111 111     30  M      1       0        Daily     7.19    26   16.59
112 112     34  M      0       1        Daily     9.12    36   15.20
117 117     46  M      0       1        Daily     8.14    40   12.21

In [16]:
length(data[(data$cyc_freq=="Daily")&(data$gender=="M")&(data$age>=30),]$user_id)

[1] 25